extends ../layout

block linkcontent
  link(rel="stylesheet", href="/css/p-collection-detail.css")

block content
    .container
        ol.breadcrumb
            li: a(href="/") Home
            li: a(href="/collection") Collection
            li.active Collection Name
    .container
        .row
            .page-header.text-center
                img.img-circle.collection-cover(src="/img/img-thumb.jpg", alt="") 
                h1 Collection Name
                p This is a collection, keep images and videos.
        .row
            p.navbar-text Videos
        .row
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/video-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/video-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/video-thumb.jpg", alt="")
        .row
            p.navbar-text Images
        .row
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")
            .col-xs-6.col-sm-3.col-md-2
                a.thumbnail(href="#")
                    img(src="/img/img-thumb.jpg", alt="")      
        .row
            include ../includes/pager.pug