extends ../layout

block content
    .container
        ol.breadcrumb
            li: a(href="/") Home
            li.active Collection
    .container
        .row
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg", alt="")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
        .row
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
        .row
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
        .row
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
        .row
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
            .col-sm-6.col-md-3
                .thumbnail
                    img(src="/img/img-thumb.jpg")
                    .caption
                        h3 Thumb Title
                        p Some text here
                        p: a.btn.btn-primary(href="#", role="button") GO
        .row
            include ../includes/pager.pug 
            
