extends ../layout

block linkcontent
    link(rel="stylesheet", href="/css/p-manage-collection.css")

block scriptcontent
    script(src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js").
    script(src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js").
    script(src="/js/p-manage-collection.js").
    
block content   
    #app.container
        .row
            ol.breadcrumb
                li: a(href="/") Home
                li: a(href="/manage") Manage
                li.active Manage Collections
        .row
            .panel.panel-default
                .panel-heading 
                    span Manage Collections
                .panel-body
                    .container.text-center
                        .row
                            .page-header
                                h2 Collection Name
                        .row.panel-space
                            .btn-group(role="group")
                                button.btn.btn-default(:disabled="!enableParent", @click="goParent")
                                    span.glyphicon.glyphicon-folder-open(aria-hidden="true")
                                    span.hidden-xs.button-text PARENT
                                button.btn.btn-default(:disabled="!enableOpen", @click="openSelected")
                                    span.glyphicon.glyphicon-search(aria-hidden="true")
                                    span.hidden-xs.button-text OPEN
                                button.btn.btn-default(@click="createNew")
                                    span.glyphicon.glyphicon-plus(aria-hidden="true")
                                    span.hidden-xs.button-text CREATE
                                button.btn.btn-default(@click="editSelected")
                                    span.glyphicon.glyphicon-pencil(aria-hidden="true")
                                    span.hidden-xs.button-text EDIT
                                button.btn.btn-danger(:disabled="!enableDelete", data-toggle="modal", data-target="#deleteConfirm")
                                    span.glyphicon.glyphicon-trash(aria-hidden="true")
                                    span.hidden-xs.button-text DELETE
                        .row
                            .col-xs-12
                                p: <strong>( 12 / 100 )</strong>
                        .row.text-left
                            .col-xs-12
                                input.form-contro(type="checkbox", @change="selectAllChecked($event)")
                                span.button-text Select All
                        .row
                            .col-xs-6.col-sm-3.col-md-2(v-for="item in source")
                                .thumbnail(href="#", @click="checkThumb(item)")
                                    img(:src="item.src", :alt="item.name", :class="{'thumb-icon':item.style}")
                                    .caption
                                        span.pull-left: input(type="checkbox", v-model="item.checked")
                                        span.thumb-text {{item.name}}
        #deleteConfirm.modal.fade(tabindex="-1", role="dialog")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h4.modal-title Confirmation
                    .modal-body
                        p Do you want to delete selected items ?
                    .modal-footer
                        button.btn.btn-default(data-dismiss="modal")
                            span.glyphicon.glyphicon-remove
                            span.button-text Cancel
                        button.btn.btn-danger(@click="deleteSelected")
                            span.glyphicon.glyphicon-ok
                            span.button-text Delete
                        

                        
                                