extends ../layout

block linkcontent
    link(rel="stylesheet", href="/css/p-manage-collection-detail.css")

block scriptcontent
    script(src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js").
    script(src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js").
    script(src="/js/p-manage-collection-detail.js").
    
block content   
    #app.container
        .row
            ol.breadcrumb
                li: a(href="/") Home
                li: a(href="/manage") Manage
                li: a(href="/manage/collection") Collections
                li.active=collectionId > 0 ? "Edit" : "Create"
        .row
            .panel.panel-default
                .panel-heading
                    span=collectionId > 0 ? "Edit Collection" : "Create Collection"
                .panel-body
                    .container.panel-space
                        form.form-horizontal
                            .form-group
                                label.col-sm-2.control-label(for="txtName") Name
                                .col-sm-9: input#txtName.form-control(type="text", placeholder="Name")
                            .form-group
                                label.col-sm-2.control-label(for="txtDesc") Description
                                .col-sm-9: textarea#txtDesc.form-control(rows="3", placeholder="Description")
                            .form-group
                                label.col-sm-2.control-label(for="txtRoot") Cover
                                .col-sm-9
                                    img.img-circle(src="/img/img-thumb.jpg", alt="", style="height:200px; height:200px;")
                                    //button.btn.btn-default(type="button"): span ...
                            .form-group
                                .col-sm-offset-2.col-sm-10
                                    span.button-space: button.btn.btn-primary(type="submit")
                                        span.glyphicon.glyphicon-floppy-saved
                                        span.button-icon Save Collection
   
                        

                        

                        
                                