extends ../layout

block linkcontent
    link(rel="stylesheet", href="/css/icons-blue.css")

block content   
    .container
        .row
            ol.breadcrumb
                li: a(href="/") Home
                li.active Manage
        .row
            .panel.panel-default
                .panel-heading 
                    span Control Panel
                .panel-body
                        .control-button.text-center.pull-left
                            p: span.icon-blue.icon-blue-pin
                            p: a.btn.btn-default(href="/manage/collection", role="button") Manage Collections
                        