extends ../layout

block linkcontent
  link(rel="stylesheet", href="/css/p-manage-index.css")
  link(rel="stylesheet", href="/css/icons-blue.css")

block content
    .container.breadcrumb-space
        ol.breadcrumb
            li: a(href="/") Home
            li.active Manage
    .container
        .row
            .col-md-4
                .panel.panel-default
                    .panel-heading 
                        span Upload
                    .panel-body
                        span.icon-blue.icon-blue-file
                        p: a.btn.btn-default(href="#", role="button") Upload Files
            .col-md-4
                .panel.panel-default
                    .panel-heading Manage Collection
                    .panel-body
                        span.icon-blue.icon-blue-file
                        p: a.btn.btn-default(href="#", role="button") Manage Collection
            .col-md-
                .panel.panel-default
                    .panel-heading Manage Files
                    .panel-body
                        span.icon-blue.icon-blue-file
                        p: a.btn.btn-default(href="#", role="button") Manage Files