doctype html
html
  head
    meta(charset="utf8")
    meta(http-equive="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Sausage
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/general.css")
    block linkcontent
  body
    nav(class="navbar navbar-default navbar-fixed-top")
      .container
        .navbar-header
          button(class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand", href="/") 
            strong SAUSAGE
        #navbar.collapse.navbar-collapse.navbar-right
          ul(class="nav navbar-nav")
            -if (currentPage == 'home')
              li.active: a(href="/") Home
            - else
              li: a(href="/") Home
            -if (currentPage == 'stream')
              li.active: a(href="/stream") Stream
            - else
              li: a(href="/stream") Stream
            -if (currentPage == 'collection')
              li.active: a(href="/collection") Collection
            - else
              li: a(href="/collection") Collection
            -if (currentPage == 'manage')
              li.active: a(href="/manage") Manage
            - else
              li: a(href="/manage") Manage
    #main-container
      block content
    footer
      .container
        h5 &copy; 2018 <strong>SAUSAGE</strong>
        h6 SAUSAGE is member of BAD GUYS GROUP (BGG). All rights are not resevered.

    script(src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js").
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js").
    block scriptcontent
