.button-icon {
    padding-left: 5px;
    padding-right: 5px;
}
.button-size {
    width: 100px;
}
.button-space {
    padding-left: 5px;
    padding-right: 5px;
}
.cover {
    height: 160px;
    width: 160px;
}
.preview-size {
    max-height: 150px;
    max-width: 150px;
}