.button-icon {
    padding-left: 5px;
    padding-right: 5px;
}
.button-size {
    width: 100px;
}
.button-space {
    padding-left: 5px;
    padding-right: 5px;
}
.cover {
    height: 150px;
    width: 150px;
}